<!-- Header HTML-->

<header>
    <div id="website-title">
        <div class="image-container" id="weibsite-logo-container">
            <img src="/images/logo.png" alt="Site Logo">
        </div>
        <div id="site-title">Placement Cell</div>
    </div>
    <div id="site-options">
        <% if(title != "Student List") { %> <a>Students</a> <% } %>
        <a>Interviews</a>
        <a>Job Listings</a>
        <a href="/users/sign-out"> Logout </a>
    </div>
</header>