<!-- Header HTML-->

<header>
    <div id="website-title">
        <div class="image-container" id="weibsite-logo-container">
            <img src="/images/logo.png" alt="Site Logo">
        </div>
        <div id="site-title">Placement Cell</div>
    </div>
    <div id="site-options">
        <a href="/dashboard/student/download" target="_blank"> Download Students </a>
        <% if(title != "Student List" && title != "Current Student") { %> <a href="/dashboard/student">Students</a> <% } %>
        <% if(title != "Interviews" && title != "Current Interview") { %> <a href="/dashboard/interview">Interviews</a> <% } %>
        <% if(title != "Job Listings") { %> <a href="/dashboard/job_listings">Job Listings</a> <% } %>
        <a href="/users/sign-out"> Logout </a>
    </div>
</header>