<div id="sign-in-container">
    <div class="image-container" id="logo-container">
        <img src="/images/logo.png" alt="Site Logo">
    </div> 
    <form id="" method="" action="">
        <input idf
    </form>
</div>