<link rel="stylesheet" href="/css/student.css">

<% if(messages.info) { %>
    <div id="message-container">
        <%= messages.info %>
    </div>
<% } %>



<script src="/javascript/student.js"></script>