h1 {
    text-align: center;
}

#interview-company-and-date {
    display: flex;
    justify-content: space-around;
}

#note {
    margin-left: 1vw;
}

br {
    margin: 1vh 0;
}

/* Update interview Form */

#update-interview-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.update-interview-form-element {
    width: 45%;
    margin: 1vh 2%;
}

#update-interview-form-multiButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.update-interview-form-button {
    height: 5vh;
    width: 10vw;
}