#sign-in-container {
    width: 40%;
    height: 55vh;
    font-size: 1rem;
    background-color: var(--primary-theme-color);
}
  
#logo-container {
    background-color: var(--secondary-theme-color);
    width: 70%;
    margin: 3vh 15% 2vh 15%;
}
  
form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}
  
.form-element {
    width: 100%;
    position: relative;
    margin: 3% 0;
}
  
form input {
    font-size: 1rem;
    width: 50%;
    position: absolute;
    right: 0;
}
  
button {
    font-size: 1.5rem;
    margin: 10% 0;
    border-width: 0;
    background-color: var(--tertiary-theme-color);
    color: var(--secondary-theme-color);
    padding: 10px;
}