#message-container{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--primary-theme-color);
    padding: 10px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}